<div class="header-links">
  <table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td width="2%">&nbsp;</td>

      <td width="38%"><%= link_to ts('home.this'), root_path %></td>
      <td width="8%"><div id="div_admin-links"></div></td>
      <td width="30%" align="center">
<%=     render :partial => 'sessions/language_options' %>       
      </td>
      <td width="22%">
	   	 <small><div id="div_login">
<%=        render :partial => 'main/login_status' %>
         </div></small>
      </td>
    </tr>
  </table>
</div>